*{
    margin: 0;
    padding: 0;
}

.main-outer{
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.sky-outer{
    width: 100vw;
    height: 310px;
    background-color: skyblue;
    position: relative;
    overflow: hidden;
}
.mountain-1{
    height: 310px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.mountain-2{
    height: 310px;
    position: absolute;
    z-index: 1;
}
.mountain-3{
    height: 310px;
    position: absolute;
    left: 350px;
    z-index: 0;
}

.cloud-1{
    height: 300px;
    position: absolute;
    z-index: 1;
    right: -350px;
    top: -50px;
    animation: a-cloud-1 10s infinite linear;
}

@keyframes a-cloud-1 {
    from{right: -350px}
    to{right: 1400px}
}

.cloud-2{
    height: 250px;
    position: absolute;
    z-index: 2;
    animation: a-cloud-2 20s infinite linear;
    right: -600px;
}
@keyframes a-cloud-2 {
    from{right: -600px}
    to{right: 1400px}
}
.cloud-3{
    height: 280px;
    position: absolute;
    z-index: 1;
    animation: a-cloud-3 30s infinite linear;
    right: -600px;
}

@keyframes a-cloud-3 {
    from{right: -600px}
    to{right: 1400px}
}

.sun{
    width: 100px;
    position: absolute;
    right: 350px;
}
.bird-1{
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 150px;
    left: -150px;
    animation: a-bird-1 20s infinite linear;
}
@keyframes a-bird-1 {
    from{left: -150px}
    to{left: 1400px}
}
.bird-2{
    width: 100px;
    position: absolute;
    z-index: 1;
    transform: scaleX(-1);
    right: -150px;
    animation: a-bird-2 30s infinite linear;
}
@keyframes a-bird-2 {
    from{right: -150px}
    to{right: 1400px}
}
.road-outer{
    flex: 1;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
}
.bottom-outer{
    height: 80px;
    border: 1px solid red;
}
.line{
    border: 5px dashed white;
    width: 100vw;
}
.vehicle-1{
    position: absolute;
    width: 150px;
}
.vehicle-2{
    position: absolute;
    width: 250px;
}

.vehicle-3{
    position: absolute;
    width: 250px;
    transform: scaleX(-1);
}

.tree-1, .tree-2, .tree-3{
    width: 200px;
    position: absolute;
    border: 1px solid red;
}
