*{
    margin: 0;
    padding: 0;
}

.main-outer{
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
}
.sky-outer{
    width: 100vw;
    height: 310px;
    background-color: skyblue;
}
.mountain-1{
    height: 310px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.mountain-2{
    height: 310px;
    position: absolute;
    z-index: 1;
}
.mountain-3{
    height: 310px;
    position: absolute;
    left: 350px;
    z-index: 0;
}

.cloud-1{
    height: 300px;
    position: absolute;
    z-index: 2;
}
.cloud-2{
    height: 250px;
    position: absolute;
    z-index: 2;
}
.cloud-3{
    height: 280px;
    position: absolute;
    z-index: 2;
}